.button{
    border-radius: 12px;
padding: 16px 48px;
min-width: 183px;
height: 60px;
background-color: #f4c550;
/* font-family: var(--font-family); */
font-weight: 700;
font-size: 18px;
line-height: 1.6;
color: #121417;
border: none;
margin-top: 64px;
margin-left: 483px;
}
.container{
    background-color: #f8f8f8;
}