.container{
    border: 1.50px dashed #f4c550;
border-radius: 30px;
width: 1312px;
height: 116px;
margin-top: 24px;
margin-bottom: 32px;
padding: 40px 121px;
}
.list{
    display: flex;
    gap: 100px;
}
.item{
    display: flex;
    gap: 16px;
}
.number{
font-weight: 500;
font-weight: bold;
font-size: 28px;
line-height: 1.1;
letter-spacing: -0.02em;
color: #121417;
}
.name{
font-weight: 400;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.02em;
color: rgba(18, 20, 23, 0.7);
}

.contOne{
display: flex;
gap: 8px;
margin-right: 16px;
}
.contTwo{
display: flex;
gap: 8px;
margin-right: 16px;
}
